@font-face {
    font-family: 'Syne Extra';
    src: url('fonts/Syne-Extra.woff2') format('woff2'),
        url('fonts/Syne-Extra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Syne';
    src: url('fonts/Syne-Regular.woff2') format('woff2'),
        url('fonts/Syne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(../bg1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: ;
  position: relative;
}

video {
  width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    transform: scale(1.08);
}

.hero h1 {
  color: #fafad3;
  font-family: 'Syne', arial, sans-serif;
  text-transform: uppercase;
  font-size: 11rem;
  transform: scaleY(0.8);
}

.herotext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body {

}

.aboutme {
  width: 100vw;
  height: 60vh;
  display: flex;
}

 h2 {
  font-family: 'Syne Extra', arial, sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1.5rem;
}

.abouttext {
  flex: .6;
  padding: 4rem;
}

.avatar {
  flex: .4;
  background-image: url(../avatar.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio {
}

.portfolio h2 {
  padding-left: 4rem;
}

.portfolio p {
  padding-left: 4rem;
}

.projects {
  display: flex;
  flex-flow: wrap;
  width: 100vw;
  margin-top: 4rem;
}

.sec {
  background-color: #1e2526;
  background-position: center center;
  background-size: contain;
  height: 50vh;
  width: 50vw;
  display: inline-block;
}

.sec1 {
  background-image: url(../proj1.png);
}

.sec2 {
  background-image: url(../proj2.png);
}

.sec3 {
  background-image: url(../proj3.png);
}

.sec4 {
  background-image: url(../proj4.png);
}

h3 {
  color: #df5830;
  font-family: 'Syne', arial, sans-serif;
  font-size: 4rem;
}

span {
  color: white;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1.5rem;
}

.sec:hover .info {
  opacity: 1;
}

.info {
  padding: 3rem;
  opacity: 0;
  transition: all .75s ease-in-out;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-image: url(../bg2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

form {
  width: 35vw;
}

textarea {
  display: inline;
  background-color: #1e2526;
  border: none;
  font-size: 2rem;
  padding: .5rem;
  color: white;
  width: 100%;
  height: 25rem;
}

:focus {
  outline: none;
}

input {
  display: inline;
  background-color: #1e2526;
  border: none;
  font-size: 2rem;
  padding: .5rem;
  color: white;
  width: 100%;
  margin-bottom: 2rem;
}

input::placeholder, textarea::placeholder {
  color: white;
  font-family: 'Syne', arial, sans-serif;
}

form button {
  background-color: #df5830;
  border: none;
  font-family: 'Syne Extra', arial, sans-serif;
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.submitclass {
  position: relative;
}

.footer {
  width: 100vw;
  height: 10vh;
  background-color: #1e2526;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
}

.siteinfo {
  flex: .333333;
  padding-left: 3rem;
}

.logo {
  flex: .333333;
  text-align: center;
  margin-left: -3rem;
}

.backtotop {
  flex: .3333;
}
